.header__logo {
  width: 103.74px;
  height: 24.4px;
  margin-left: 27px;
  margin-bottom: 31.6px;
  object-fit: contain;
  object-position: center;
}

@media screen and (min-width: 880px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin-left: 0;
    margin-bottom: 41px;
  }
}