.profile__subtitle {
  max-width: 282px;
  margin: 14px auto 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 880px) {
  .profile__subtitle {
    max-width: 480px;
    margin: 5px 0 0 0;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
  }
}